<html>
<head>

    <title>Grupo 16. Introduzca el termino de busqueda.</title>
</head>
<body>
    <header class="qp-ui" data-qp-ui="{
  'Peekaboo': {
    'mobile': 72,
    'desktop-sm': 72,
    'default': 192
  }
}">
  <div class="header-wrapper qp-ui" data-qp-ui="{
    'Peekaboo': {
      'mobile': 28,
      'desktop-sm': 28,
      'default': 82
    }
  }">
    <div class="header-title">      <span class="section-title">Grupo 16</span>
      <span class="chapter-title">Búsqueda</span>
    </div>
  </div>
</header>
    

    <div class="search">
    	<div class="group"> 
			<form action="/buscar" method="POST">
		   		<input type="text" name="text">
		        <input type="submit" name="my-form" class="button buttonBlue" value="Buscar">
		    </form>
		</div>
	</div>

</body>
</html>
